<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Practica5.Properties.Settings.Coffee_House_Cosy_CoffeeConnectionString"
            connectionString="Data Source=M15-I5W301\SQLEXPRESS;Initial Catalog=Coffee_House_Cosy_Coffee;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>